<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Farm</h1>
    
    <form action="/farms" method="POST" action="/farms/<%= farm.id %>?_method=PUT">
        <div>
            <label for="name">Farm Name</label>
            <input type="text" name="name" id="name" value="<%= farm.name %>">
        </div>
        <div>
            <button>Edit Farm</button>
        </div>
    </form>
</body>
</html>